/* Resetting default browser styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    background-color: #1a73e8;
    padding: 2rem;
    text-align: center;
    color: white;
    height: 10%;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Form styling */
.form-container {
    margin: 2rem auto;
    width: 97%;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;  /* Add some space between dropdowns and the button */
}

/* .form-container label {
    /* display: none; Hide labels to match the look of the image */
/* } */

.form-container select, 
.form-container button {
    flex: 1;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    max-width: 300px; /* Optional: limit dropdown width */
}

.form-container button {
    background-color: #98c4fd;
    color: rgb(59, 59, 59);
    cursor: pointer;
    font:bolder;
    max-width: 100px;
    transition: background-color 0.4s ease;
}

.form-container button:hover {
    background-color: #1eff83;
    transform: scale(1.05); /* Adjust size of the button */
}

/* Table styling */
.table-container {
    margin: 2rem auto;
    width: 97%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

table th, table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #75b1ff;
    color: rgb(63, 63, 63);
    text-transform: uppercase;
}

table td {
    background-color: #f8f9fa;
}

table select {
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* Hover effects */
table tr:hover {
    background-color: #f1f3f4;
}

.date {
    display: flex;
    text-align: center;
    width: max-content;
    margin-left: 30%;
}
.date_label {
    font-size: small;
}

.filter-input {
    width: 35px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
}